*.pyc
*.gdb_history
*.clang_complete
*.user
*.autosave
.idea/
.cache/
*.*.swp
*.vscode
*.mo
*.qm
*.ccls-cache
tags
*.ropeproject
*~
*.mypy_cache
*compile_commands.json
*.coverage
*.pytest_cache
cmake-build-*/
